Repository cric96/asw-19-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

build_backend:
  stage: build
  before_script:
  - cd backend/
  script:
  - npm install

build_frontend:
  stage: build
  before_script:
  - cd frontend/
  - npm install
  script:
  - npm install -g @vue/cli
  - npm run build
  artifacts:
    paths:
    - frontend/dist/

first version of alert (improvable)
  frontend/src/components/AlertMessageComponent.vue
  frontend/src/views/Login.vue
Due: none

trying to improve login buttons
  frontend/src/components/authentication/SocialLogin.vue
  frontend/src/views/Intro.vue
Due: none

logins
  frontend/src/components/authentication/SocialLogin.vue
  frontend/src/views/Login.vue
Due: none

fix same width login buttons
  frontend/src/components/authentication/SocialLogin.vue
  frontend/src/views/Intro.vue
Due: none

adding progress login
  frontend/src/views/Login.vue
Due: none

restored alert Login.vue
  frontend/src/views/Login.vue
Due: none

fix dialog width
  frontend/src/components/authentication/SocialLogin.vue
  frontend/src/components/building/BuildingDialogForm.vue
Due: none

add messages const file and Login alert show
  frontend/src/components/authentication/SignUpForm.vue
  frontend/src/resource/messages.js
  frontend/src/views/Login.vue
Due: none

added signUp and Login message manage and add loading in signup form
  frontend/src/components/authentication/SignUpForm.vue
  frontend/src/resource/messages.js
  frontend/src/views/Login.vue
Due: none

added useful internal notification plugin
  frontend/src/components/SnackbarNotification.vue
  frontend/src/components/building/BuildingDialogForm.vue
  frontend/src/plugins/firebase.js
  frontend/src/plugins/messages.js
  frontend/src/router.js
  frontend/src/store/store.js
  frontend/src/views/Dashboard.vue
  frontend/src/views/HomeReport.vue
Due: none

doing backend
  backend/controllers/buildingsController.js
  backend/models/binModel.js
  backend/models/buildingModel.js
  frontend/src/store/store.js
Due: none

Update buildingsController.js
  backend/controllers/buildingsController.js
Due: none

start work with web socket
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/scanbage-firebase-adminsdk-itzje-52ab1c019c.json
  backend/setupdb/databaseSetup.js
Due: build_backend

start to work on rewards
  backend/controllers/rewardsController.js
  backend/routes/rewardsRoutes.js
Due: none

add update, post, get in building
  backend/controllers/buildingsController.js
  backend/models/buildingModel.js
  backend/models/userModel.js
  backend/routes/buildingsRoutes.js
Due: none

doing manage builds sections
  backend/controllers/buildingsController.js
  frontend/src/views/building/Building.vue
Due: none

fix some rest problems
  backend/.gitignore
  backend/app.js
  backend/controllers/buildingsController.js
  backend/models/buildingModel.js
  backend/objectIdMiddleware.js
  backend/routes/buildingsRoutes.js
Due: build_backend

removed city from bincategory
  backend/controllers/buildingsController.js
  backend/models/binCategoryModel.js
  backend/models/cityModel.js
Due: none

persistence building selection
  frontend/src/components/building/BuildingDialogForm.vue
  frontend/src/services/cities.api.js
  frontend/src/store/module/building.js
Due: none

added cities support
  frontend/src/views/building/Building.vue
Due: none

Update .gitignore
  backend/.gitignore
Due: build_backend

backup
  frontend/src/components/HelloWorld.vue
  frontend/src/components/MemberManager.vue
  frontend/src/components/Movies.vue
  frontend/src/components/MoviesCrud.vue
  frontend/src/components/MoviesTable.vue
  frontend/src/components/building/BuildingDialogForm.vue
  frontend/src/components/navigation/NavBuildingSelector.vue
  frontend/src/services/cities.api.js
  frontend/src/store/module/building.js
  frontend/src/views/building/Building.vue
Due: none

add swagger yaml file
  backend/scanbage.yaml
Due: build_backend

adding member manager
  frontend/src/components/MemberManager.vue
  frontend/src/components/building/BuildingDialogForm.vue
  frontend/src/components/navigation/NavBuildingSelector.vue
  frontend/src/components/navigation/NavUserHeader.vue
Due: none

Update NavBuildingSelector.vue
  frontend/src/components/navigation/NavBuildingSelector.vue
Due: none

refactor model, add script to create bin and cities in database
  backend/setupdb/createBin.js
  backend/setupdb/createCity.js
  backend/setupdb/databaseSetup.js
  backend/setupdb/trashCategories.json
Due: none

change models, add route, add decoration, start to works on routes and controllers
  backend/app.js
  backend/controllers/binCategoriesController.js
  backend/controllers/binController.js
  backend/controllers/buildingsController.js
  backend/controllers/citiesController.js
  backend/controllers/description.md
  backend/controllers/moviesController.js
  backend/controllers/trashesController.js
  backend/controllers/usersController.js
  backend/decore-express.js
  backend/models/binCategoryModel.js
  backend/models/binModel.js
  backend/models/buildingModel.js
  backend/models/cityModel.js
  backend/models/description.md
  backend/models/moviesModel.js
  backend/models/rewardModel.js
  backend/models/trashCategoryModel.js
  backend/models/trashModel.js
  backend/models/userModel.js
  backend/routes/binCategoriesRoutes.js
  backend/routes/binRoutes.js
  backend/routes/buildingsRoutes.js
  backend/routes/citiesRoutes.js
  backend/routes/description.md
  backend/routes/moviesRoutes.js
  backend/routes/trashRoutes.js
  backend/routes/usersRoutes.js
  backend/setupdb/createBin.js
  backend/setupdb/createCity.js
  backend/setupdb/databaseSetup.js
Due: build_backend

do some refactor on building and user
  Dockerfile
  backend/app.js
  backend/controllers/citiesController.js
  backend/controllers/description.md
  backend/controllers/usersController.js
  backend/decoreExpress.js
  backend/models/userModel.js
  backend/mongo.js
  backend/routes.js
  backend/routes/citiesRoutes.js
  backend/utils/utils.js
  build.sh
  run.sh
Due: build_backend

improve token retrieve
  frontend/src/main.js
  frontend/src/store/store.js
Due: none

Refactor userController
  backend/controllers/usersController.js
Due: none

fixed user Contreoller
  backend/controllers/usersController.js
Due: none

fix authentication user loading
  backend/authMiddleware.js
  backend/decoreExpress.js
  frontend/src/components/BuildingCard.vue
  frontend/src/components/UserChip.vue
  frontend/src/model/user.js
  frontend/src/router.js
  frontend/src/services/users.api.js
  frontend/src/store/store.js
  frontend/src/views/building/Building.vue
Due: build_backend

link prediction with frontend, add fetch (mock version), change icons
  frontend/src/assets/addTrash.png
  frontend/src/assets/addTrash2.png
  frontend/src/assets/barcode.png
  frontend/src/services/apiService.js
  frontend/src/services/mockApiCategories.js
  frontend/src/services/predictionApi.js
  frontend/src/store/module/trashCategory.js
  frontend/src/store/store.js
  frontend/src/views/Dashboard.vue
  frontend/src/views/HomeReport.vue
  frontend/src/views/scan/AiInsertion.vue
  frontend/src/views/scan/BarcodeInsertion.vue
  frontend/src/views/scan/ManualInsertion.vue
Due: none

add catch in conflit error case
  frontend/src/components/authentication/SignUpForm.vue
Due: none

end popup insertion
  frontend/src/components/ManualInsertionForm.vue
  frontend/src/components/TrashSearchingPopUp.vue
  frontend/src/router.js
  frontend/src/services/mockApiCategories.js
  frontend/src/views/HomeReport.vue
  frontend/src/views/scan/AiInsertion.vue
  frontend/src/views/scan/BarcodeInsertion.vue
  frontend/src/views/scan/ManualInsertion.vue
Due: none

some refactoring
  backend/models/buildingModel.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AlertMessageComponent.vue
  frontend/src/components/AutocompleteAddress.vue
  frontend/src/components/BuildingCard.vue
  frontend/src/components/DynamicBin.vue
  frontend/src/components/MemberManager.vue
  frontend/src/components/SnackbarNotification.vue
  frontend/src/components/UserChip.vue
  frontend/src/components/authentication/BindUserForm.vue
  frontend/src/components/authentication/CompleteUserInfoForm.vue
  frontend/src/components/authentication/SignUpForm.vue
  frontend/src/components/authentication/SocialLogin.vue
  frontend/src/components/building/BuildingDialogForm.vue
  frontend/src/components/navigation/NavBuildingSelector.vue
  frontend/src/components/navigation/NavUserHeader.vue
  frontend/src/components/navigation/NavigationDrawer.vue
  frontend/src/filters/filters.js
  frontend/src/filters/index.js
  frontend/src/main.js
  frontend/src/router.js
  frontend/src/services/apiService.js
  frontend/src/services/buildings.api.js
  frontend/src/services/here.api.js
  frontend/src/services/users.api.js
  frontend/src/store/store.js
  frontend/src/views/Login.vue
Due: build_frontend

Update NavUserHeader.vue
  frontend/src/components/navigation/NavUserHeader.vue
Due: none

Update NavigationDrawer.vue
  frontend/src/components/navigation/NavigationDrawer.vue
Due: none

changed edit user icon
  frontend/src/components/navigation/NavUserHeader.vue
  frontend/src/components/navigation/NavigationDrawer.vue
Due: none

add building insertion and quering
  backend/controllers/buildingsController.js
  backend/models/buildingModel.js
  backend/models/cityModel.js
  backend/models/userModel.js
  backend/mongo.js
  backend/routes/buildingsRoutes.js
  backend/utils/Exception.js
  backend/utils/utils.js
Due: build_backend

Path conditions:
  build_backend: any of: backend/*
  build_frontend: any of: frontend/*
