Repository cric96/asw-19-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_dependencies_backend, install_dependencies_frontend, build_frontend

.gitlab-ci.yml:

image: node:latest

stages:
  - build

cache:
  paths:
    - "*/node_modules/"

.install_dependencies:
  stage: build
  script:
    - npm install
  after_script:
    - cd /
  artifacts:
    paths:
      - node_modules/

install_dependencies_backend:
  extends: .install_dependencies
  before_script:
    - cd backend/
  only:
    changes:
      - backend/*

install_dependencies_frontend:
  extends: .install_dependencies
  before_script:
    - cd frontend/
  only:
    changes:
      - frontend/*

build_frontend:
  only:
    changes:
      - frontend/*
  before_script:
    - cd frontend/
  script:
    - npm run build
  artifacts:
    paths:
      - dist/

added README with query
  README.md
Due: none

ADDED README with query
  .gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: none

added all schemas
  backend/models/binCategoryModel.js
  backend/models/binModel.js
  backend/models/buildingModel.js
  backend/models/cityModel.js
  backend/models/rewardModel.js
  backend/models/trashCategoryModel.js
  backend/models/trashModel.js
  backend/models/userModel.js
  backend/utils/regex.js
Due: none

fix regex
  backend/utils/regex.js
Due: none

setup database with trash categories
  backend/models/trashCategoryModel.js
  backend/setupdb/databaseSetup.js
  backend/setupdb/rewards.json
  backend/setupdb/trashCategories.json
Due: none

init building selector
  frontend/package-lock.json
  frontend/public/index.html
  frontend/src/components/BuildingProfile.vue
  frontend/src/components/NavigationDrawer.vue
  frontend/src/mock-helper/mockBuilding.js
  frontend/src/mock-helper/mockHelper.js
  frontend/src/plugins/vuetify.js
  frontend/src/router.js
  frontend/src/views/Home.vue
Due: install_dependencies_frontend, build_frontend

adding drawer
  frontend/package-lock.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/components/BuildingProfile.vue
  frontend/src/router.js
  frontend/src/store/module/building.js
  frontend/src/views/Home.vue
Due: install_dependencies_frontend, build_frontend

added vuex current building
  frontend/README.md
  frontend/src/App.vue
  frontend/src/components/BuildingProfile.vue
  frontend/src/components/NavBuildingSelector.vue
  frontend/src/components/UserHeader.vue
  frontend/src/mock-helper/mockBuilding.js
  frontend/src/mock-helper/mockHelper.js
  frontend/src/services/mockApiBuilding.js
  frontend/src/services/mockApiHelper.js
  frontend/src/store/module/building.js
  frontend/src/store/mutationTypes.js
  frontend/src/store/store.js
Due: install_dependencies_frontend, build_frontend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix navigation with router, added speed dial fab
  frontend/src/App.vue
  frontend/src/components/NavigationDrawer.vue
  frontend/src/components/navigation/NavBuildingSelector.vue
  frontend/src/components/navigation/NavUserHeader.vue
  frontend/src/components/navigation/NavigationDrawer.vue
  frontend/src/router.js
  frontend/src/views/About.vue
  frontend/src/views/Dashboard.vue
  frontend/src/views/Home.vue
  frontend/src/views/HomeReport.vue
Due: none

ci
  .gitlab-ci.yml
Due: none

Link Multiple Auth Providers done
  frontend/public/index.html
  frontend/src/views/Login.vue
  frontend/src/views/SignUp.vue
Due: none

added intro view and deleted NavBar
  frontend/src/App.vue
  frontend/src/assets/logo.png
  frontend/src/assets/logo_1.png
  frontend/src/router.js
  frontend/src/views/Intro.vue
  frontend/src/views/SignUp.vue
Due: none

making home-report dashboard
  frontend/src/views/HomeReport.vue
Due: none

remove navbar
  frontend/src/views/NavBar.vue
Due: none

backend authentication done
  backend/app.js
  backend/authMiddleware.js
  backend/controllers/usersController.js
  backend/models/userModel.js
  backend/package-lock.json
  backend/package.json
  backend/routes/usersRoutes.js
  backend/utils/utils.js
  frontend/src/views/Login.vue
Due: install_dependencies_backend

backend auth done
  backend/.gitignore
Due: install_dependencies_backend

logout done
  frontend/src/components/navigation/NavigationDrawer.vue
  frontend/src/store/store.js
  frontend/src/views/Dashboard.vue
Due: none

auth interaction with server done
  backend/package-lock.json
  frontend/src/firebaseConfig.js
  frontend/src/main.js
  frontend/src/services/apiService.js
  frontend/src/services/users.api.js
  frontend/src/store/store.js
Due: install_dependencies_backend

adding bin
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Bin.vue
  frontend/src/main.js
  frontend/src/plugins/konva.js
  frontend/src/views/HomeReport.vue
Due: install_dependencies_frontend, build_frontend

working on colored bin
  frontend/src/components/Bin.vue
Due: none

fixed backend create_user controller function
  backend/app.js
  backend/controllers/usersController.js
  backend/utils/utils.js
  frontend/src/model/user.js
  frontend/src/views/SignUp.vue
Due: install_dependencies_backend

fixed some errors, finally sign up and communication between backend and frontend works
  backend/controllers/usersController.js
  frontend/src/model/user.js
  frontend/src/services/apiService.js
  frontend/src/services/users.api.js
  frontend/src/views/SignUp.vue
Due: none

scompose view in components
  backend/controllers/usersController.js
  frontend/src/assets/logo.png
  frontend/src/components/authentication/ImageUpload.vue
  frontend/src/components/authentication/SignUpForm.vue
  frontend/src/components/authentication/SocialLogin.vue
  frontend/src/views/Intro.vue
  frontend/src/views/Login.vue
  frontend/src/views/SignUp.vue
Due: none

add barcode icon in homepage
  frontend/package-lock.json
  frontend/public/index.html
  frontend/src/plugins/vuetify.js
  frontend/src/views/HomeReport.vue
Due: install_dependencies_frontend, build_frontend

create manual scan view
  frontend/src/router.js
  frontend/src/views/HomeReport.vue
  frontend/src/views/scan/ManualInsertion.vue
Due: none

add dockerfile in frontend
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/README.docker.md
Due: install_dependencies_frontend, build_frontend

1) added avatar in sign up 2) added dialog to complete user info
  frontend/src/App.vue
  frontend/src/assets/background.jpeg
  frontend/src/assets/logo_1.png
  frontend/src/components/authentication/CompleteUserInfoForm.vue
  frontend/src/components/authentication/ImageUpload.vue
  frontend/src/components/authentication/SignUpForm.vue
  frontend/src/components/authentication/SocialLogin.vue
  frontend/src/main.js
  frontend/src/model/user.js
  frontend/src/views/Intro.vue
  frontend/src/views/SignUp.vue
Due: none

Add photo insertion for ai
  frontend/src/router.js
  frontend/src/views/HomeReport.vue
  frontend/src/views/scan/AiInsertion.vue
  frontend/src/views/scan/BarcodeInsertion.vue
Due: none

add form for binding with alert
  frontend/src/components/authentication/BindUserForm.vue
  frontend/src/components/authentication/SocialLogin.vue
  frontend/src/router.js
Due: none

Add photo insertion for ai - mockApi started
  frontend/package-lock.json
  frontend/package.json
  frontend/src/services/mockApiPrediction.js
  frontend/src/views/HomeReport.vue
  frontend/src/views/scan/AiInsertion.vue
Due: install_dependencies_frontend, build_frontend

solve damned image problem
  frontend/src/router.js
  frontend/src/services/mockApiHelper.js
  frontend/src/services/mockApiPrediction.js
  frontend/src/views/scan/AiInsertion.vue
Due: none

add card category type
  frontend/src/views/scan/AiInsertion.vue
  frontend/src/views/scan/ManualInsertion.vue
Due: none

add snackbars
  frontend/src/views/Dashboard.vue
  frontend/src/views/HomeReport.vue
  frontend/src/views/scan/AiInsertion.vue
  frontend/src/views/scan/ManualInsertion.vue
Due: none

changed responsive box for different screen, margin and form trasarency
  frontend/src/App.vue
  frontend/src/components/authentication/SignUpForm.vue
  frontend/src/views/Intro.vue
  frontend/src/views/Login.vue
  frontend/src/views/SignUp.vue
Due: none
