Repository cric96/asw-19-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

.gitlab-ci.yml:

image: node:latest

stages:
  - build

cache:
  paths:
    - "*/node_modules/"

build_backend:
  stage: build
  before_script:
    - cd backend/
  script:
    - npm install
  only:
    changes:
      - backend/*

build_frontend:
  stage: build
  before_script:
    - cd frontend/
    - npm install
  script:
    - npm install -g @vue/cli
    - npm run build
  artifacts:
    paths:
      - frontend/dist/
  only:
    changes:
      - frontend/*

change dockerfile for heroku
  Dockerfile
Due: none

prepare for website
  backend/app.js
  frontend/src/assets/addTrash2.png
  frontend/src/components/TrashSearchingPopUp.vue
  frontend/src/services/apiService.js
  frontend/src/services/predictionApi.js
Due: build_backend

add env var
  frontend/.env.development.local
  frontend/.env.production.local
  frontend/.gitignore
  frontend/src/App.vue
Due: build_frontend

add user filters
  backend/controllers/cityController.js
  backend/controllers/trashFetch.js
  backend/controllers/userController.js
  backend/utils/AndFilterBuilder.js
  backend/utils/utils.js
Due: none

filter and limit frontend members
  frontend/src/services/usersApi.js
Due: none

refactoring api services
  frontend/src/main.js
  frontend/src/services/binsApi.js
  frontend/src/services/buildingsApi.js
  frontend/src/services/citiesApi.js
  frontend/src/services/usersApi.js
  frontend/src/utils.js
Due: none

fix isNumeric cites controller
  backend/controllers/cityController.js
Due: none

refactor bin and trash listing
  backend/controllers/trashFetch.js
  backend/routes/binRoutes.js
  backend/routes/middleware/addDateToFilter.js
  backend/routes/middleware/fetchCityMiddleware.js
  backend/routes/middleware/filterBuilderMiddleware.js
  backend/routes/rankRoutes.js
  backend/routes/trashRoutes.js
Due: none

solve problem with utils.isNumeric
  backend/controllers/cityController.js
Due: none

Adding some comments for socket
  backend/controllers/trashController.js
  frontend/src/components/DynamicBin.vue
  frontend/src/components/navigation/NavBuildingSelector.vue
Due: none

solve city controller problems
  backend/controllers/cityController.js
Due: none

v-model autcomplete members
  frontend/src/components/AutocompleteMembers.vue
  frontend/src/components/building/BuildingDialogForm.vue
Due: none

start deploy socket
  backend/bin/www
  backend/controllers/userController.js
  backend/package-lock.json
  backend/package.json
  backend/socket.js
  frontend/package-lock.json
  frontend/package.json
Due: build_backend, build_frontend

refactor naming in controller
  backend/controllers/binController.js
  backend/controllers/buildingController.js
  backend/controllers/cityController.js
  backend/controllers/memberController.js
  backend/controllers/trashController.js
  backend/controllers/trashQueries.js
  backend/controllers/userController.js
  backend/utils/AndFilterBuilder.js
  frontend/src/store/module/trashCategory.js
Due: none

update building-card
  frontend/src/components/BuildingCard.vue
  frontend/src/filters/filters.js
  frontend/src/views/Dashboard.vue
Due: none

solve home report problem
  frontend/src/views/HomeReport.vue
Due: none

fix vuejs serve with express web server
  backend/app.js
  backend/package.json
  frontend/src/store/store.js
Due: build_backend

start to work with ci/cd
  .gitlab-ci.yml
Due: none

problems with ci, try to solve
  .gitlab-ci.yml
  README.md
Due: none

check mask
  .gitlab-ci.yml
Due: none

verify again
  .gitlab-ci.yml
Due: none

change token retriver
  backend/firebaseTokeRetriver.js
  backend/mongo.js
Due: build_backend

refactor gitlab-ci
  .gitlab-ci.yml
Due: none

change password
  .gitlab-ci.yml
Due: none

change ci
  .gitlab-ci.yml
Due: none

try to cry
  .gitlab-ci.yml
Due: none

change .ci
  .gitlab-ci.yml
  backend/package-lock.json
Due: build_backend

change something
  .gitlab-ci.yml
Due: none

update ci/cd
  .gitlab-ci.yml
Due: none

user auth modified; added reusable components
  backend/models/userModel.js
  frontend/src/components/BuildingCard.vue
  frontend/src/components/UserChip.vue
  frontend/src/components/authentication/CompleteUserInfoForm.vue
  frontend/src/components/authentication/SignUpForm.vue
  frontend/src/components/authentication/SocialLogin.vue
  frontend/src/components/user/DetailsUserProfile.vue
  frontend/src/components/user/UserForm.vue
  frontend/src/components/user/userProperties.js
  frontend/src/resource/messages.js
  frontend/src/router.js
  frontend/src/store/store.js
  frontend/src/views/Intro.vue
  frontend/src/views/user/Login.vue
  frontend/src/views/user/SignUp.vue
  frontend/src/views/user/UserInfo.vue
Due: none

show variable
  .gitlab-ci.yml
Due: none

return at initial version
  .gitlab-ci.yml
Due: none

return to master
  .gitlab-ci.yml
Due: none

rename file
  backend/app.js
  backend/firebaseTokenRetriver.js
Due: build_backend

add deploy
  .gitlab-ci.yml
Due: none
